APP_NAME={{ laravel_app_name | default('Laravel') }}
APP_ENV={{ laravel_app_env | default('local') }}
APP_KEY={{ laravel_app_key }}
APP_DEBUG={{ laravel_app_debug | default(true) }}
APP_URL={{ laravel_app_url }}

LOG_CHANNEL={{ laravel_log_channel | default('stderr') }}

DB_CONNECTION={{ laravel_db_connection | default('mysql') }}
DB_HOST={{ laravel_db_host }}
DB_PORT={{ laravel_db_port | default(3306) }}
DB_DATABASE={{ laravel_db_database }}
DB_USERNAME={{ laravel_db_username }}
DB_PASSWORD={{ laravel_db_password }}

BROADCAST_DRIVER={{ laravel_broadcast_driver | default('log') }}
CACHE_DRIVER={{ laravel_cache_driver | default('file') }}
QUEUE_CONNECTION={{ laravel_queue_connection | default('sync') }}
SESSION_DRIVER={{ laravel_session_driver | default('file') }}
SESSION_LIFETIME={{ laravel_session_lifetime | default(120) }}

